<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comentários - Vue JS</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div id="app">

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            template: `
            <div class="container">
                <h1>Comentários</h1>
                <hr>
                <div class="form-comentarios form-group">
                    <p>
                        <input v-model="name" type="text" name="author" class="form-control" placeholder="Nome">
                    </p>
                    <p>
                        <textarea v-model="message" name="message" class="form-control" placeholder="Comentário"></textarea>
                    </p>
                    <button v-on:click="addComment" type="submit" class="btn btn-primary">Comentar</button>
                </div>

                <div class="list-group">
                    <div class="list-group-item" v-for="comment in comments">
                        <span class="coment-author">Autor: <strong>{{ comment.name }}</strong></span>
                        <p>{{ comment.message }}</p>
                        <div>
                            <a href="#" title="Excluir">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
            `,
            data() {
                return {
                    comments: [{
                        name: 'Henrique',
                        message: 'Hello Vue'
                    }],
                    name: '',
                    message: ''
                }
            },
            methods: {
                addComment() {
                    console.log("Message")
                    console.log(this.name)
                    console.log(this.message)
                }
            }
        })
    </script>

</body>

</html>